<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(80,80) %></td>
        <td><%= user.name %></td>
        <td>フォロー数: <%= user.followings.count %></td>
        <td>フォロワー数: <%= user.followers.count %></td>
        <td><%= render 'relationships/btn', user: user %></td>
        
        <% if user.status_i18n == "非公開" %>
          <td>非公開</td>
        <% else %>
          <td><%= link_to 'Show', user_path(user.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>